doctype html 
html 
    head 
        title if/else Demo 
    body 
        h1 If Else Demo 
        - const user={"name":"john","loggedIn":false}
        if user.loggedIn 
             p welcome #{user.name}
        else 
            p please login 
            a(href='login.html') login
