doctype html 
html 
    head 
        title Example 
    body 
        h1 This is an pug example 
        p.
             this is a paragraph 
             and this line will be displayed in the new line
        ul
           li #item 1
           li #item 2
           li #item 3
           li #item 4
